#tt1{
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 20px;
    color: #39f;
}
.conteudo_text{
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px; 
}